---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<Base title="Eludris | Blog Index" description="An index of all the Eludris blog posts.">
  <main>
    <div id="head">
      <h1>The Eludris Blog Index</h1>
      <p>
        A place where you can find all our blogs be it development updates or just plain
        shitposting.
      </p>
    </div>
    <hr id="sep" />
    <div id="posts">
      {
        posts.map(
          (post) =>
            !post.data.hide && (
              <a href={`/blog/${post.slug}`} class="post-anchor">
                <div class="post">
                  <h2>
                    <time datetime={post.data.pubDate} style="color: #aaaaaa;">
                      {new Date(post.data.pubDate).toLocaleDateString('en-uk', {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric'
                      })}{' '}
                    </time>{' '}
                    - {post.data.title}
                  </h2>
                  <br />
                  <p class="post-description">{post.data.description}</p>
                </div>
              </a>
            )
        )
      }
    </div>
  </main>
</Base>

<style>
  main {
    margin: 0 auto;
    padding: 1em;
    max-width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #head {
    text-align: center;
    margin: 10px;
  }

  #head > p {
    max-width: 40vw;
    margin: 0 auto;
  }

  #sep {
    width: 80vw;
  }

  #posts {
    text-align: center;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
  }

  .post-anchor {
    margin: 10px;
    border: unset;
  }

  .post-anchor:hover {
    border: unset;
  }

  .post {
    padding: 1em;
    border-radius: 10px;
    background-color: var(--purple-100);
    box-shadow: 2px 2px 4px var(--purple-100);
    transition: box-shadow ease-in-out 250ms, background-color ease-in-out 250ms;
  }

  .post:hover {
    background-color: var(--gray-200);
    box-shadow: 2px 4px 8px var(--purple-200);
  }

  .post > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
  }

  .post-description {
    color: #aaaaaa;
    text-align: center;
    max-width: 80%;
    margin: 10px auto;
  }

  @media only screen and (max-width: 1200px) {
    main {
      margin: 5px;
    }

    #posts {
      display: flex;
      flex-direction: column;
    }

    #head > p {
      max-width: unset;
    }

    #posts {
      margin: 0;
      padding: 0;
    }
  }
</style>
