---
import Base from "../layouts/Base.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Base
  title="Eludris | Blog Index"
  description="An index of all the Eludris blog posts."
>
  <main>
    <div id="head">
      <h1>The Eludris Blog Index</h1>
      <p>
        A place where you can find all our blogs be it development updates or
        just plain shitposting.
      </p>
    </div>
    <hr id="sep" />
    <div id="posts">
      {
        posts.map(
          (post, i) =>
            !post.frontmatter.hide && (
              <div class={i % 3 === 1 ? "post centre" : "post"}>
                <h2>
                  <time
                    datetime={post.frontmatter.pubDate}
                    style="color: #aaaaaa;"
                  >
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-uk",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}{" "}
                  </time>{" "}
                  - <a href={post.url}>{post.frontmatter.title}</a>
                </h2>
                <br />
                <p class="post-description">{post.frontmatter.description}</p>
              </div>
            )
        )
      }
    </div>
  </main>
</Base>

<style>
  main {
    margin: 0 auto;
    padding: 1em;
    max-width: 90vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #head {
    text-align: center;
    margin: 10px;
  }

  #head > p {
    max-width: 40vw;
    margin: 0 auto;
  }

  #sep {
    width: 80vw;
  }

  #posts {
    text-align: center;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
  }

  .post {
    padding: 1em;
  }

  .post > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
  }

  .centre {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
  }

  .post-description {
    color: #aaaaaa;
    text-align: center;
    max-width: 80%;
    margin: 10px auto;
  }

  @media only screen and (max-width: 1200px) {
    main {
      margin: 5px;
    }

    #posts {
      display: flex;
      flex-direction: column;
    }

    .post {
      padding: 0;
      border-width: 0;
    }
  }
</style>
