---
import Base from "../layouts/Base.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Base
  title="Eludris | Blog Index"
  description="An index of all the Eludris blog posts."
>
  <main>
    <div id="head">
      <h1>The Eludris Blog Index</h1>
      <p>
        A place where you can find all our blogs whether they are about
        development updates, new plans or just plain shitposting.
      </p>
    </div>
    <hr id="sep" />
    <div id="posts">
      {
        posts.map((post) => ( !post.frontmatter.hide &&
          <div class="post">
            <time datetime={post.frontmatter.pubDate} style="color: #aaaaaa;">
              {new Date(post.frontmatter.pubDate).toLocaleDateString("en-uk", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}{" "}
            </time>{" "}
            - <a href={post.url}>{post.frontmatter.title}</a>
            <br />
            <p class="post-description">{post.frontmatter.description}</p>
          </div>
        ))
      }
    </div>
  </main>
</Base>

<style>
  main {
    margin: 0 auto;
    padding: 1em;
    max-width: 90vw;
    min-height: 100vh;
    color: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #head {
    text-align: center;
    margin: 10px;
  }

  #head > p {
    font-size: 1.5em;
  }

  #sep {
    width: 80vw;
  }

  #posts {
    text-align: center;
    font-size: 1.25em;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
  }

  .post {
    padding: 1em;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
  }

  .post-description {
    color: #aaaaaa;
    font-size: 0.8em;
  }

  @media only screen and (max-width: 1200px) {
    main {
      margin: 5px;
    }

    #posts {
      display: flex;
      flex-direction: column;
    }
    
    .post {
      padding: 0;
      border-width: 0;
    }
  }
</style>
