---
import Base from '../layouts/Base.astro';
import { Icon } from 'astro-icon';
---

<Base>
  <main>
    <div id="first">
      <h1 id="logo-text">Your platform.<br />Your rules.</h1>
      <h1 id="real-slogan" style="display: none">Microwaving mice is wrong they say</h1>
      <p class="desc">
        A safe and secure platform where <em>you</em> decide what goes.
      </p>
      <div id="learn-more-wrapper">
        <a class="learn-more-button" href="https://app.eludris.com"><button> Try it out</button></a>
        <a class="learn-more-button" href="https://devs.eludris.com" target="_blank"
          ><button>
            Learn more <Icon name="eva:external-link-fill" />
          </button>
        </a>
      </div>
    </div>
    <hr id="split" />
    <div id="showcase">
      <div class="left">
        <div class="showcase-icon">
          <img src="/profiles.png" alt="A selection of different profiles of Eludris users" />
        </div>
        <div class="showcase-content">
          <h3>Your profile, your way</h3>
          <p>
            Customize your profile however you want with the hottest looking animated avatars,
            banners and sickest bios with all the text formatting juice- even if it's all anime.
          </p>
        </div>
      </div>
      <div class="right">
        <div class="showcase-icon">
          <img
            src="/themes.png"
            alt="An assortment of different built-in and community-provided Eludris client themes"
          />
        </div>
        <div class="showcase-content">
          <h3>Your client, exactly the way you want it</h3>
          <p>
            Make your own theme using the built-in powerful theming tools provided by the client, or
            choose your favourite one from the theme store.
          </p>
        </div>
      </div>
      <div class="left">
        <div class="showcase-icon">
          <img src="/messages.png" alt="A display of a few message elements in eludris" />
        </div>
        <div class="showcase-content">
          <h3>Your messages, filled with ways to convey your ideas</h3>
          <p>
            Use the rich arangement of formatting options provided to you to convey any idea, with
            ease. Include your own tables, coloured text, emojis and even math formulas with KaTeX!
          </p>
        </div>
      </div>
    </div>
  </main>
</Base>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .desc {
    text-align: center;
    padding: 0;
    font-weight: 300;
  }

  #first {
    display: flex;
    flex-direction: column;
    padding: 25px 100px;
  }

  #logo-text {
    text-align: center;
    margin: 20px 0;
    line-height: 75px;
  }

  #learn-more-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .learn-more-button {
    text-decoration: none;
    border: unset;
  }

  .learn-more-button:hover {
    border-width: 0;
  }

  .learn-more-button > button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: unset;
    border-radius: 25px;
    font-size: 20px;
    padding: 14px 20px;
    transition: box-shadow ease-in-out 200ms, color ease-in-out 200ms,
      background-color ease-in-out 200ms;
    margin-top: 2px;
    width: auto;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--pink-500);
    color: var(--purple-100);
  }

  .learn-more-button > button:hover {
    background-color: var(--pink-600);
  }

  :where(:root.dark .learn-more-button > button:hover) {
    box-shadow: 0 5px 20px var(--purple-100);
  }

  :where(:root:not(.dark) .learn-more-button > button:hover) {
    box-shadow: 0 5px 20px var(--purple-400);
  }

  .learn-more-button > button > [astro-icon] {
    width: 25px;
  }

  #split {
    width: 90vw;
  }

  #showcase {
    display: grid;
    grid-auto-rows: 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  #showcase > div:nth-child(odd) {
    background-color: var(--gray-200);
  }

  #showcase > div {
    display: flex;
    padding: 25px 20vw;
  }

  .showcase-icon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.right > .showcase-icon {
    order: 1;
  }

  .showcase-icon > img {
    width: 500px;
    position: relative;
    color: var(--pink-600);
  }

  .showcase-content {
    width: 50%;
    margin: auto 0;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .showcase-content h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  code {
    background-color: #222;
  }

  @media only screen and (max-width: 1200px) {
    #first {
      padding: 10px;
    }

    #showcase {
      display: flex;
      flex-direction: column;
    }

    #showcase > div {
      padding: 1em;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

    #showcase > div > h3 {
      width: 100%;
    }

    .showcase-content {
      width: 100%;
    }

    .showcase-content > h3 {
      text-align: center;
    }

    .showcase-icon > img {
      width: 85vw;
    }

    div.right > .showcase-icon {
      order: 0;
    }
  }
</style>
