---
import Base from "../layouts/Base.astro";
import { Icon } from "astro-icon";
---

<Base>
  <main>
    <div id="logo-container">
      <img id="logo" src="/das_ding.png" alt="The Eludris logo, Das Ding." />
      <div id="logo-text">
        <h1>Eludris</h1>
        <h2>A platform that's <em>yours</em></h2>
      </div>
    </div>
    <p class="desc">
      A simple, FOSS, federated social media platform made in rust with
      End-To-End-Encryption.
    </p>
    <div id="showcase">
      <div>
        <h3>
          <Icon name="twemoji:dollar-banknote" /> Fully free and open source, forever
        </h3>
        <p class="showcase-p">
          <!-- Now before you complain about the whackass way some of the tags are formatted, don't blame me, blame prettier -->
          At Eludris&#8482; we really like our software FOSS <strike
            >well, most of us anyway</strike
          > which is why Eludris is and forever will be free, open source and under
          the permissive MIT license.
        </p>
      </div>
      <div>
        <h3><Icon name="twemoji:feather" /> Lightweight and federated</h3>
        <p class="showcase-p">
          Eludris is federated by nature, which means that anyone can host their
          own instance anywhere and it will communicate with the other instances
          that it cares about to fetch you your latest memes no matter your
          instance, all while being fully contained thanks to docker.
        </p>
      </div>
      <div>
        <h3><Icon name="twemoji:locked" /> Secure</h3>
        <p class="showcase-p">
          Eludris really cares about your privacy which is why it provides federation
          <em>and</em> End-To-End-Encryption so your mind can be at peace no
          matter which shady instance you're using!<br /><br />p.s. Do not use
          shady instances.
        </p>
      </div>
      <div>
        <h3>
          <Icon name="twemoji:paintbrush" /> A platform that's <em
            >truly <b>yours</b>
          </em>
        </h3>
        <p class="showcase-p">
          Eludris strives to be as configurable as it can which is why not only
          can you configure everything about your instance from a single <code
            >Eludris.toml</code
          >
          <strike>and <code>.env</code></strike> but it also actively encourages
          you to make your own clients and even extend the base Eludris implementation
          with your own features and provides support for that!
        </p>
      </div>
    </div>
  </main>
</Base>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #eeeeee;
    gap: 1.5em;
  }

  .desc {
    text-align: center;
    margin: 0 10px;
  }

  #logo {
    width: 16em;
    border-radius: 5%;
  }

  #logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  #showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.25em;
  }

  #showcase > div {
    padding: 1em;
    max-width: 40em;
    min-height: 10em;
    background-color: #2d2639;
    margin: 5px;
    border-radius: 10px;
  }

  #showcase > div > h3 > [astro-icon] {
    width: 1.5em;
    position: relative;
    top: 0.25em;
  }

  .showcase-p {
    margin-top: 15px;
  }

  code {
    background-color: #222;
  }

  h3 {
    padding: 0;
    margin: 0;
  }

  @media only screen and (max-width: 1200px) {
    #logo {
      width: 12rem;
    }

    #logo-container {
      flex-direction: column;
    }

    #logo-text {
      margin: 10px 0 0 0;
      text-align: center;
    }

    #logo-text > h1,
    h2 {
      margin: 0;
      padding: 0;
    }

    #logo-text > h1 {
      font-size: 3rem;
    }

    #logo-text > h2 {
      font-size: 1rem;
    }

    #showcase {
      display: flex;
      flex-direction: column;
    }

    #showcase > div {
      width: 85vw;
      height: auto;
    }
  }
</style>
