---
import Base from "../layouts/Base.astro";
import { Icon } from "astro-icon";
---

<Base>
  <main>
    <div id="first">
      <h1 id="logo-text">Your platform.<br>Your rules.</h1>
      <h1 id="real-slogan" style="display: none">Microwaving mice is wrong they say</h1>
      <p class="desc">
        A simple, End-To-End-Encrypted, FOSS and federated platform, where <em>you</em> decide what goes.
      </p>
      <div id="learn-more-wrapper">
        <a id="learn-more-button" href="https://eludris.github.io/docs"><button>
          Learn more <Icon name="eva:external-link-fill" />
        </button></a>
      </div>
    </div>
    <hr id="split" />
    <div id="showcase">
      <div class="left">
        <div class="showcase-icon">
          <Icon name="mdi:currency-usd" />
        </div>
        <div class="showcase-content">
          <h3>Fully free and open source, forever </h3>
          <p>
            <!-- Now before you complain about the whackass way some of the tags are formatted, don't blame me, blame prettier -->
            At Eludris&#8482; we really like our software FOSS <strike
              >well, most of us anyway</strike
            >, which is why Eludris is and forever will be free, open source and under
            the permissive MIT license.
          </p>
        </div>
      </div>
      <div class="right">
        <div class="showcase-icon">
          <Icon name="mdi:leaf" />
        </div>
        <div class="showcase-content">
          <h3> Lightweight and federated</h3>
          <p>
            Eludris is federated by nature, which means that anyone can host their
            own instance anywhere and it will communicate with the other instances
            that it cares about to fetch you your latest memes no matter your
            instance, all while being fully contained thanks to docker.
          </p>
        </div>
      </div>
      <div class="left">
        <div class="showcase-icon">
          <Icon name="mdi:lock" /> 
        </div>
        <div class="showcase-content">
          <h3>Secure</h3>
          <p>
            Eludris really cares about your privacy, which is why it provides federation
            <em>and</em> End-To-End-Encryption so your mind can be at peace no
            matter which shady instance you're using!<br /><br />p.s. Do not use
            shady instances.
          </p>
        </div>
      </div>
      <div class="right">
        <div class="showcase-icon">
          <Icon name="mdi:shimmer" />
        </div>
        <div class="showcase-content">
          <h3>A platform that's <em>truly <b>yours</b></em></h3>
          <p>
            Eludris strives to be as configurable as it can, which is why not only
            can you configure everything about your instance from a single <code
              >Eludris.toml</code
            >
            <strike>and <code>.env</code></strike>, but it also actively encourages
            you to make your own clients, bots, API wrappers and so on.
          </p>
        </div>
      </div>
    </div>
  </main>
</Base>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    gap: 1em;
  }

  .desc {
    text-align: center;
    padding: 0;
    font-weight: 300;
  }

  #first {
    display: flex;
    flex-direction: column;
    padding: 25px 100px;
  }

  #logo-text {
    text-align: center;
    margin: 20px 0;
    line-height: 75px;
  }

  #learn-more-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #learn-more-button {
    text-decoration: none;
    border: unset;
  }

  #learn-more-button > button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: unset;
    border-radius: 25px;
    font-size: 20px;
    padding: 14px 20px;
    background-color: var(--pink-500);
    color: var(--purple-100);
    box-shadow: 0 2px 4px var(--purple-100);
    transition: box-shadow ease-in-out 200ms, color ease-in-out 200ms, background-color ease-in-out 200ms, margin ease-in-out 200ms;
    margin-top: 42px;
    width: 200px;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 0;
    cursor: pointer;
  }

  #learn-more-button > button:hover {
    box-shadow: 0 5px 20px var(--purple-100);
    background-color: var(--pink-600);
    margin-top: 40px;
    margin-bottom: 2px;
  }

  #learn-more-button > button > [astro-icon] {
    width: 25px;
  }

  #split {
    width: 90vw;
  }

  #showcase {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
  }

  #showcase > div:nth-child(even) {
    background-color: var(--gray-200);
  }

  #showcase > div {
    display: flex;
    height: 300px;
    padding: 25px 20vw;
  }

  .showcase-icon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.right > .showcase-icon {
    order: 1;
  }

  .showcase-icon > [astro-icon] {
    width: 200px;
    height: 200px;
    position: relative;
    color: var(--pink-600);
  }

  .showcase-content {
    width: 50%;
    margin: auto 0;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .showcase-content h3 {
    padding: 0;
    margin: 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
  }

  code {
    background-color: #222;
  }

  @media only screen and (max-width: 1200px) {
    #first {
      padding: 10px;
    }

    #showcase {
      display: flex;
      flex-direction: column;
    }

    #showcase > div {
      padding: 1em;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

    #showcase > div > h3 {
      width: 100%;
    }

    .showcase-p {
      width: 100%;
    }

    #showcase > div.left > h3 {
      order: 0;
    }
  }
</style>
