---
import { Icon } from 'astro-icon';
---

<button id="nav-open-button">
  <Icon width="30px" name="mdi:menu" />
</button>
<nav id="nav">
  <a href="/" id="nav-logo">
    <img src="/das_ding.svg" alt="The Eludris logo" />
    <span class="nav-link" id="menu-eludris-text">Eludris</span>
  </a>
  <a href="/" class="nav-link" id="eludris-nav-link">
    <span>Eludris</span>
  </a>

  <a href="/blog" class="nav-link"><span>Blog</span></a>
  <a href="https://devs.eludris.com" class="nav-link"><span>Docs</span></a>
  <a href="https://github.com/eludris" class="nav-link"><span>GitHub</span></a>
  <div id="button-wrapper">
    <Icon id="moon" class="notransition" width="24px" name="mdi:white-balance-sunny" />
    <Icon id="sun" class="notransition" width="24px" name="mdi:weather-night" />
    <button id="theme-button"></button>
  </div>
</nav>
<div id="block"></div>

<script is:inline>
  let theme =
    localStorage.getItem('theme') ??
    (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light');

  if (theme == 'dark') {
    document.documentElement.classList.add('dark');
  }

  document.getElementById('theme-button')?.addEventListener('click', () => {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      theme = 'light';
    } else {
      document.documentElement.classList.add('dark');
      theme = 'dark';
    }
    localStorage.setItem('theme', theme);
  });
</script>
<script>
  const nav = document.getElementById('nav');
  const block = document.getElementById('block');

  document.getElementById('nav-open-button')?.addEventListener('click', () => {
    nav!.style.left = '0';
    block!.style.display = 'block';
  });

  block!.addEventListener('click', () => {
    nav!.style.left = '-100%';
    block!.style.display = 'none';
  });

  setTimeout(() => {
    document.getElementById('moon')!.classList.remove('notransition');
    document.getElementById('sun')!.classList.remove('notransition');
  }, 0); // again, why the heck does this work???
</script>

<style>
  nav {
    display: flex;
    flex-direction: row;
    padding: 0 12em 0 12rem;
    align-items: stretch;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .nav-link {
    margin: 0;
    width: 100px;
    text-align: center;
    padding-top: 15px;
    transition: border-width ease-in-out 100ms, color ease-in-out 200ms;
    color: var(--pink-500);
    border-width: 0px;
    border-color: var(--pink-400);
  }

  #nav-open-button,
  #block,
  #menu-eludris-text {
    display: none;
  }

  .nav-link:hover {
    color: var(--color-text);
    border-color: var(--pink-400);
  }

  #nav-logo {
    border-width: 0px;
  }

  #nav-logo > img {
    width: 2.7rem;
    height: 2.7rem;
    position: relative;
    top: 0.25rem;
    cursor: pointer;
  }

  #eludris-nav-link {
    margin-right: auto;
  }

  #button-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 0.8em;
    color: var(--pink-500);
    transition: color ease-in-out 200ms;
  }

  #theme-button {
    position: absolute;
    border: unset;
    background-color: inherit;
    width: 24px;
    height: 24px;
    padding: 2px;
    cursor: pointer;
  }

  #button-wrapper > [astro-icon] {
    position: absolute;
    transition: transform ease-in-out 250ms, opacity ease-in-out 250ms;
  }

  :where(:root.dark #moon) {
    transform: translate(0, 100%);
    opacity: 0;
    z-index: -1;
  }

  :where(:root:not(.dark) #sun) {
    transform: translate(0, 100%);
    opacity: 0;
    z-index: -1;
  }

  .notransition {
    transition: unset !important;
  }

  @media only screen and (max-width: 1200px) {
    nav {
      display: flex;
      position: fixed;
      z-index: 2;
      top: 0;
      left: -100%;
      padding: 0;
      flex-direction: column;
      background-color: var(--gray-200);
      height: 100%;
      width: 70%;
      transition: left ease-in-out 250ms;
    }

    #nav-logo > img {
      width: 4rem;
      height: 4rem;
    }

    #menu-eludris-text {
      margin: 0;
      margin-left: 10px;
    }

    #nav-logo,
    .nav-link {
      margin-left: 20px;
      margin-bottom: 10px;
      padding-top: 0;
      width: fit-content;
    }

    #eludris-nav-link {
      display: none;
    }

    #menu-eludris-text {
      display: inline;
      font-size: 30px;
      font-weight: bold;
    }

    #nav-open-button {
      display: block;
      width: 30px;
      height: 30px;
      border: unset;
      margin: 5px;
      background-color: inherit;
      color: var(--pink-500);
    }

    #nav-logo {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #nav-open-button {
      position: absolute;
    }

    #block {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 70%);
    }

    #button-wrapper {
      margin-top: auto;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }
</style>
